{
  "mcpServers": {
    "debug-devices": {
      "type": "stdio",
      "command": "nix",
      "args": [
        "develop",
        "/abs/path/debug-devices",
        "--command",
        "uv",
        "run",
        "--directory",
        "/abs/path/debug-devices",
        "debug-devices-mcp",
        "--no-ui-open-browser"
      ]
    }
  }
}
